<% provide(:title, "Home") %>

<main class="row">
  <div class="col-xs-12 col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <nav class="btn-group">
          <a href="." class="btn <%= params[:recent] ? "btn-default" : "btn-primary" %>">Recent posts</a>
          <a href="?recent=1" class="btn <%= params[:recent] ? "btn-primary" : "btn-default" %>">Filtered posts</a>
          <a href="/posts" class="btn btn-default">All posts</a>
        </nav>
      </div>
      <div class="panel-body">
        <%= render "posts/cards", posts: @posts %>
        <%= will_paginate @posts %>
      </div>
    </div>
    
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-12">
        <p>Recent Users</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Categories</p>
      </div>
    </div>
  </div>
</main>