<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <%= gravatar_for post.user, size:50 %>
            </div>
            <div class="col-sm-10 col-xs-12">
                <p><h3><%= post.title %></h3></p>
                <p><%= post_info post %></p>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <%= simple_format post.content %>
    </div>
</div>