<% provide :title, "New Post" %>

<section class="panel panel-primary">
    <div class="panel-heading">New Post</div>
    <div class="panel-body">
        <%= render 'form', post: @post %>
    </div>
</section>
