<div class="panel panel-default">
    <div class="panel-body">
        <p><h3><%= glyphicon "comment", link_to(category.name, category) %></h3></p>
        <p><%= glyphicon "file", category.posts.count %> posts</p>
    </div>
</div>