<footer class="footer">
  <small>
  <ul>
  <li>
  </ul>
  Clock+ <br>
  s3714954@student.rmit.edu.au <br>
  80+ 
  </small>
  <nav>
    <ul>
    <li>Share social<?li>
    <li>
    <%= link_to image_tag("facebook.png",width: 20,height:20, alt: "Facebook"),
    'https://www.facebook.com/' %>
      <li>
      <%= link_to image_tag("twitter.png",width: 20,height:20, alt: "Twitter"),
      'https://twitter.com/explore' %>
     <?li>
      <li>
      <%= link_to image_tag("linkedin.png",width: 20,height:20, alt: "Linkedin"),
      'https://www.linkedin.com/' %>
      <?li>
    </ul>
    </nav>
    </footer>